.more-screen .icon-row {
    margin-top: 35px;
}

.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icon-image img {
    width: 55px;
    height: 55px;
    margin: 10px 10px;
}